{%extends "base.html"%}
{% block title %}分享记录-日志{% endblock %}

{% block leftMenuShare %}
	<li class="hover"><a href="{%url netPan.File.views.shareFile%}"><img src="{{STATIC_URL}}img/png/share.png">分享记录</a></li>
{% endblock %}

<!--二级功能展示区-->
{% block topNavUl %}
<link href="{{STATIC_URL}}css/share.css" rel="stylesheet" type="text/css" />
<ul>
	<!-- {%url netPan.File.views.shareOutFile %}    {%url netPan.File.views.shareInFile %}-->
	<li><a id="myShare-link" href="{%url netPan.File.views.shareOutFile%}"><img src="{{STATIC_URL}}img/png/shareout.png"> 我的分享</a></li>
	<li ><a href="{%url netPan.File.views.shareInFile%}"><img src="{{STATIC_URL}}img/png/sharein.png"> 分享给我</a></li>
	<li ><a href="{%url netPan.File.views.myPubShare%}"><img src="{{STATIC_URL}}img/png/publicshare.png"> 我的共享</a></li>
	<li class="topul_hover"><a href="{%url netPan.Log.views.shareLog%}"><img src="{{STATIC_URL}}img/png/log_info.png"> 历史记录</a></li>
</ul>
{% endblock %}

{%block showContent%}
<div id="board_share">
	<div class="table-c solide">
		<table id="table" width="100%" border="0" cellspacing="0" cellpadding="0" >
			<tr class="firstTr font-bold">
				<td>文件名</td>
				<td>操作对象</td>
				<td>操作</td>
				<td>时间</td>
		    </tr>
			<div class="table-comment" id="allcheck">
			{%for file in logs%}
			<tr  class="baseTr">
				<td>{{file.name}}</td>
				<td>{{file.opname}}</td>
				<td>{{file.Status}}</td>
				<td>{{file.time}}</td>
			</tr>
			{%endfor%}
			</div>	
		</table>
	</div>
</div>

{% endblock %}

{% block extracss %}
<link href="{{STATIC_URL}}css/share.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extrajs %}
{% endblock %}
